<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>books</title>
    <style>
        /*防止闪烁*/
        [v-cloak] {
            display: none;
        }

        #app {
            width: 80%;
            margin: 0 auto;
        }

        table {
            width: 100%;
        }

        td, th {
            text-align: center;
        }

        .red {
            color: red;
        }

        .green {
            color: green;
        }

    </style>
    <script src="vue.js"></script>
</head>
<body>
<div id="app">
    <table>
        <thead>
        <tr>
            <th>序号</th>
            <th>作者</th>
            <th>书名</th>
            <th>价格</th>
        </tr>
        </thead>
        <tbody>
        <tr v-cloak v-for="(book,index) in books">
            <td>{{book.id}}</td>
            <td>{{book.author}}</td>
            <td>{{book.name}}</td>
            <td>{{book.price}}</td>
            <td>
                <button v-if="book.id%2==0" type="button" class="btn red" @click="delBook(index)">删除</button>
                <button v-else type="button" class="btn green" @click="delBook(index)">删除</button>
            </td>
        </tr>
        </tbody>
    </table>
    <p>总价：{{sum}}</p>
    <div id="add-book">
        <legend>添加书籍</legend>
        <div class="form-group">
            <label for="">书名</label>
            <input type="text" class="form-control" v-model="book.author">
        </div>
        <div class="form-group">
            <label for="">作者</label>
            <input type="text" class="form-control" v-model="book.name">
        </div>
        <div class="form-group">
            <label for="">价格</label>
            <input type="text" class="form-control" v-model="book.price">
        </div>
        <button class="btn btn-primary btn-block" @click="addBook">添加</button>
    </div>
</div>
<script>
    var app = new Vue({
        el: '#app',
        data: {
            book: {
                id: 0,
                author: '',
                name: '',
                price: ''
            },
            books: [{
                id: 1,
                author: '曹雪芹',
                name: '红楼梦',
                price: 32.0
            }, {
                id: 2,
                author: '施耐庵',
                name: '水浒传',
                price: 30.0
            }, {
                id: '3',
                author: '罗贯中',
                name: '三国演义',
                price: 24.0
            }, {
                id: 4,
                author: '吴承恩',
                name: '西游记',
                price: 20.0
            }]
        },
        methods: {
            addBook: function () {
                if (this.book.author == '' || this.book.name == '' || this.book.price == '') return;
                this.book.id = this.books.length + 1;
                this.books.push(this.book);
                //重置input中的数据
                this.book = {
                    id: 0,
                    author: '',
                    name: '',
                    price: ''
                };
                /*this.book.id = 0;
                this.book.author = '';
                this.book.name = '';
                this.book.price = '';*/
            },
            delBook: function (index) {
                this.books.splice(index, 1);
            }
        },
        computed: {
            sum: function () {
                var result = 0;
                for (var i = 0; i < this.books.length; i++) {
                    result += Number(this.books[i].price);
                }
                return result;
            }
        }
    });
</script>
</body>
</html>